@import "https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700";
body {
    color: #ccc;
    font: 300 14px/1.5 Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 5%;
    margin-top: 120px;
    background-color: #000;
}

a {
    text-decoration: none;
    color: #ccc;
}

#header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.698);
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding-left: 15px;
}

h1 {
    color: #eee;
    font-size: 40px;
}

#directories a {
    display: block;
    font-size:30px;
    font-weight: bolder;
    margin:5px;
    background-color: #111;
    opacity: 0.5;
    padding-left:15px;
}

#directories a:hover {
    text-shadow: 0 0 5px #fff;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
}


#directories a:before {
    content:"> ";
}


#gallery {
    /*background-color: #fff;*/
}
.photo img {
    /*box-shadow: 0px 0px 5px 5px #ccc;*/
}

.photo:hover {
    transform:rotate(-1deg) scale(1.1);
    -moz-transform:rotate(-1deg) scale(1.1); /* Firefox 4 */
    -webkit-transform:rotate(-1deg) scale(1.1); /* Safari and Chrome */
    -o-transform:rotate(-1deg) scale(1.1); /* Opera */
}

.photo {
    transition: all 0.2s;
    -moz-transition: all 0.2s; /* Firefox 4 */
    -webkit-transition: all 0.2s; /* Safari and Chrome */
    -o-transition: all 0.2s; /* Opera */
    /*width: 200px;*/
    margin: 5px;
    float: left;
}

.downloadlink {
   background-image: url('/images/download.png');
   position:absolute;
   display: block;
   margin-left: 5px;
   margin-top: -34px;
   height: 24px;
   width: 24px;
}

#spinner {
   background-image: url('/images/spinner.gif');
   position: fixed;
   bottom: 20px;
   left: 20px;
   height: 66px;
   width: 66px;
   opacity:0;
}
